
@font-face {font-family: "iconfont";
  src: url(./iconfont.eot?t=1516858328822); /* IE9*/
  src: url(./iconfont.eot?t=1516858328822#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(./iconfont.ttf?t=1516858328822) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url(./iconfont.svg?t=1516858328822#iconfont) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
 font-size: 40px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yunshuzhongwuliu-xianxing:before { content: "\e882"; }

.icon-yunshuzhongwuliu:before { content: "\e883"; }

.icon-baoguofahuo:before { content: "\e884"; }

.icon-baoguofahuo-xianxing:before { content: "\e885"; }

.icon-chaibaoguoqujian:before { content: "\e886"; }

.icon-chaibaoguoqujian-xianxing:before { content: "\e887"; }

